# Week4 - HOL (2020110973_박석현)

### LAB 6-1 : 딕셔너리의 생성
> 1. 다음과 같은 문자열 키-값의 항목을 가지는 capital_dic 딕셔너리를 생성하시오. 그리고 이 capital_dic을 이용하여 다음의 딕셔너리 항목에 대한 조회 결과를 적으시오.

In [1]:
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

> 2. 다음 키-값의 항목을 요소로 가지는 fruits_dic 딕셔너리를 생성하시오. 그리고 이 딕셔너리를 이용하여 각 과일을 다음과 같이 출력하여라.

In [2]:
fruits_dic = {'apple' : 5000, 'banana' : 4000, 'grape' : 5300, 'melon' : 6500}
print("apple의 가격은 %d원입니다." %fruits_dic['banana'])
print("banana의 가격은 %d원입니다." %fruits_dic['apple'])
print("grape의 가격은 %d원입니다." %fruits_dic['grape'])
print("melon의 가격은 %d원입니다." %fruits_dic['melon'])

apple의 가격은 4000원입니다.
banana의 가격은 5000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

### LAB 6-2 : 딕셔너리의 항목 추가와 삭제

> 1. person 딕셔너리에 다음과 같이 '특기' 키와, '분신술' 값을 가지는 새로운 항목을 추가하시오.

In [3]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }
person['특기'] = '분신술'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}

> 2. person 딕셔너리에 다음과 같이 '아버지' 키와, '홍판서' 값을 가지는 새로운 항목을 추가하시오.

In [4]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }
person['특기'] = '분신술'
person['아버지'] = '홍판서'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

> 3. 2번 문제의 person 딕셔너리에 대해 '나이'를 키로 가지는 항목을 삭제하여 다음과 같은 딕셔너리로 갱신하시오.

In [5]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 }
person['특기'] = '분신술'
person['아버지'] = '홍판서'
del person['나이']
print(person)

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

### LAB 6-3 : 딕셔너리와 연산

> 1. 다음과 같은 키-값을 가지는 capital_dic이라는 딕셔너리를 생성한 후 아래 연산을 수행하고 출력 결과를 True 혹은 False로 적으시오.

In [6]:
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}
print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

### LAB 6-4 : 딕셔너리의 활용

> 1. apple, melon, banana, orange라는 문자열로 된 키와 각각 6000, 3000, 5000, 7000원의 가격을 값으로 가지는 fruits_dic이라는 이름의 딕셔너리를 생성하자.
> 2. fruits_dic 딕셔너리의 모든 키를 keys() 메소드를 사용하여 출력하시오.
> 3. fruits_dic 딕셔너리의 모든 값을 values() 메소드를 사용하여 출력하시오.
> 4. fruits_dic 딕셔너리의 ('apple', 6000) 항목을 pop() 메소드를 이용하여 삭제하시오.
> 5. fruits_dic 딕셔너리의 모든 항목을 삭제하시오.

In [8]:
fruits_dic = {'apple' : 6000, 'banana' : 3000, 'grape' : 5000, 'melon' : 7000}
print(fruits_dic.keys())
print(fruits_dic.values())
print(fruits_dic.pop('apple'))
print(fruits_dic.clear())

dict_keys(['apple', 'banana', 'grape', 'melon'])
dict_values([6000, 3000, 5000, 7000])
6000
None

### LAB 6-5 : 딕셔너리의 활용

> 1. ('apple', 6000), ('melon', 3000), ('banana', 5000), ('orange', 4000)라는 키와 값의 쌍으로 이루어진 fruits_dic이라는 이름의 딕셔너리를 생성하자. 이제 fruits_dic 딕셔너리의 모든 키를 리스트 형식으로 출력하시오.

In [12]:
fruits_dic = {'apple' : 6000, 'banana' : 3000, 'grape' : 5000, 'melon' : 4000}
print(list(fruits_dic))

['apple', 'banana', 'grape', 'melon']

> 2. fruits_dic 딕셔너리의 모든 값을 리스트 형식으로 추력하시오(힌트 : values() 메소드로 값을 구한 후 list() 함수를 사용하시오).

In [13]:
fruits_dic = {'apple' : 6000, 'banana' : 3000, 'grape' : 5000, 'melon' : 4000}
print(list(fruits_dic.values()))

[6000, 3000, 5000, 4000]

> 3. fruits_dic 딕셔너리의 항목의 개수를 len() 함수를 통해서 구한 후, 다음과 같이 출력하시오.

fruits_dic = {'apple' : 6000, 'banana' : 3000, 'grape' : 5000, 'melon' : 4000}
print("fruits_dic 딕셔너리의 항목의 개수 :", len(fruits_dic))

> 4. fruits_dic 딕셔너리에 'apple' 키와 'mange' 키가 있는가 검사하여 다음과 같이 출력하시오.

In [14]:
fruits_dic = {'apple' : 6000, 'banana' : 3000, 'grape' : 5000, 'melon' : 4000}
apple = 'apple' in fruits_dic
mango = 'mango' in fruits_dic

if apple:
    print('apple is in fruits_dic.')
else:
    print('apple is not in fruits_dic.')

if mango:
    print('mango is in fruits_dic.')
else:
    print('mango is not in fruits_dic.')

apple is in fruits_dic.
mango is not in fruits_dic.

### LAB 6-6 : 튜플의 생성과 패킹, 언패킹

>1. (1919, 3, 1)의 요소 값을 가지는 the_day 튜플을 생성하여라. 그리고 이 튜플의 요소를 언패킹을 통해 year, month, day 변수에 할당한 후 다음과 같이 출력하여라.

In [15]:
the_day = (1919, 3, 1)
print(f"{the_day[0]}년 {the_day[1]}월 {the_day[2]}일은 삼일절입니다.")

1919년 3월 1일은 삼일절입니다.

> 2. 10, 20, 30의 순서대로 이루어진 리스트를 튜플로 변환하여 a, b, c에 언패킹한 후 이를 다음과 같이 출력하여라.

In [16]:
_list = [10, 20, 30]
_tuple = tuple(_list)
a, b, c = _tuple
print("a = %d" %a)
print("a = %d" %b)
print("a = %d" %c)

a = 10
a = 20
a = 30

### LAB 6-7 : 튜플의 활용

> 1. 20190001이라는 학번과 '홍길동'이라는 이름, 179라는 키를 튜플의 요소로 가지는 튜플 객체와 참조 변수 person을 생성하여라.

In [17]:
person = ('홍길동', 2019001, 179)
print(person)

('홍길동', 2019001, 179)

> 2. person의 학번을 2019003으로 변경하여라. 어떤 오류가 발생하는가?

TypeError: 'tuple' object does not support item assignment

> 3. person을 리스트로 변환하여 학번을 2020003으로 변경한 후 이를 다시 튜플로 변환하여 다음과 같이 출력하여라.

In [18]:
personT = ('홍길동', 2019001, 179)
personL = list(personT)
personL[1] = 2020003
personT = tuple(personL)
print(personT)

('홍길동', 2020003, 179)

### LAB 6-9 : 집합의 생성

> 1. 다음 리스트 lst로 부터 set() 함수를 사용하여 집합 s1을 생성하여 출력하시오.

In [19]:
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print(s1)

{'mango', 'apple', 'banana'}

> 2. 다음 문자열 great으로부터 set() 함수를 사용하여 집합 s2를 생성하여 출력하시오.

In [20]:
great = 'Good afternoon'
s2 = set(great)
print(s2)

{'o', 'a', 'r', 'd', 'f', 'n', 't', 'e', 'G', ' '}

### LAB 6-10 : 집합의 연산

> 1.다음 두 집합이 있을 경우 이 집합에 대한 연산결과는 무엇인가?

In [21]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}
print("1) ", s1 | s2)
print("2) ", s1 & s2)
print("3) ", s1 - s2)
print("4) ", s1 ^ s2)
print("5) ", s1.issubset(s2))
print("6) ", s1.issuperset(s2))
print("7) ", s1.isdisjoint(s2))

1)  {70, 40, 10, 50, 20, 60, 30}
2)  {40, 30}
3)  {10, 20}
4)  {50, 20, 70, 10, 60}
5)  False
6)  False
7)  False